@reference "tailwindcss";

.container {
  @apply bg-gray-100 box-border w-4/5 min-h-60 rounded-3xl flex flex-col items-center gap-2 overflow-hidden;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.title {
  @apply font-bold text-3xl text-slate-200 bg-slate-700 w-full text-center p-2;
}

.card_area {
  @apply flex font-bold w-full h-full p-8 items-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
