@reference "tailwindcss";

.section {
  @apply flex min-h-screen items-center justify-center bg-zinc-300 font-sans;
}

.container {
  @apply bg-gray-100 p-4 box-border max-w-4/5 w-sm rounded-3xl flex flex-col items-center justify-center gap-2;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.linkBtn {
  @apply p-2 w-2/3 text-center rounded-3xl font-bold bg-slate-600 border-2 border-slate-600 text-slate-300 hover:bg-slate-300 hover:text-slate-600;
}
